.mat-dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(
    255,
    255,
    255,
    0.9
  ); /* Make the modal background slightly transparent */
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.cdk-overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Blurred dark background */
}

body {
  overflow: hidden;
  filter: blur(2px);
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  z-index: 1000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
