<div class="container">
  <nav class="navbar">
    <div class="logo">Air Quality Monitoring</div>
    <ul class="nav-links">
      <li><a href="#services">Services</a></li>
    
    </ul>
  </nav>

  <div class="hero-section">
    <div class="image-container">
      <img src="assets/industry-pollution.jpg" alt="Industrial Pollution" />
    </div>
    <div class="text-container">
      <h1>Breathe Clean with Us</h1>
      <p>Protecting your air, ensuring your health.</p>
      <button class="contact-button" (click)="openContactUsModal()">Contact Us</button>
      <!-- <button mat-button (click)="openContactUsModal()">Contact Us</button> -->
    </div>
  </div>
</div>

<div id="services" class="services-section">
  <h2 class="section-title">Our Services</h2>
  <div class="services">
    <div class="service">
      <h3>Get Current Data</h3>
      <p>Retrieve and display current air quality data for a specific city.</p>
      <div class="input-group">
        <input
          type="text"
          id="currentCity"
          [(ngModel)]="currentCity"
          placeholder="Enter city"
        />
        <button (click)="getCurrentData()">Get Data</button>
      </div>

      <div *ngIf="!currentAirPollutionData.length">
        <p>No data available</p>
      </div>
    </div>

    <div class="service">
      <h3>Historical Data</h3>
      <p>
        Retrieve and display historical air quality data for a specific city.
      </p>
      <div class="input-group">
        <input
          type="text"
          id="historicCity"
          [(ngModel)]="historicCity"
          placeholder="Enter city"
        />
        <button (click)="getHistoricalData()">Get Data</button>
      </div>
      <div *ngIf="airPollutionData.length">
        <div class="chart-description">
          <p>This chart displays historical air pollution data over time.</p>
        </div>
      </div>
      <div *ngIf="!airPollutionData.length">
        <p>No historical data available</p>
      </div>
    </div>

    <div class="service">
      <h3>Forecast Data</h3>
      <p>
        Retrieve and display forecasted air quality data for a specific city.
      </p>
      <div class="input-group">
        <label for="forecastCity">City:</label>
        <input
          type="text"
          id="forecastCity"
          [(ngModel)]="forecastCity"
          placeholder="Enter city"
        />
        <button (click)="getForecastData()">Get Data</button>
      </div>
      <div *ngIf="forecastData.length">
        <div class="chart-description">
          <p>This chart displays forecasted air pollution data over time.</p>
        </div>
      </div>
      <div *ngIf="!forecastData.length">
        <p>No forecast data available</p>
      </div>
    </div>
  </div>
</div>
<div id="QuoteBanner" class="clean-container f1hx8b4t">
  <div>
    <div class="inside-clean">
      <h2>Breathe easy with clean air monitoring!</h2>
      <div>Breathe better today!</div>
    
    </div>
      </div>
</div>
<div id="ImageBanner">
  <div class="image-banner">
    <div aria-label="person holding man's face">
      <img src ="assets\May-newsletter-header-scaled-1.jpg">
    </div>
  </div>
</div>
<footer class="footer">
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-left">
        <h3>Air quality monitoring</h3>
        <p>&copy; 2024 Air quality monitoring</p>
      </div>
    
    </div>
  </div>
</footer>
