@import "../styles/breakpoint.scss";
.container {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 1rem;

  @include breakpoint-md {
    padding: 2rem;
  }
  @include breakpoint-sm {
    flex-direction: column;
    align-items: center;
  }
}

.logo {
  color: white;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  @include breakpoint-sm {
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 0;
  }
}

.nav-links li a {
  color: white;
  text-decoration: none;
}

.contact-button {
  background-color: #d4a017;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;

  /* Example of using screen-lg mixin */
  @include breakpoint-lg {
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
  }
}

.hero-section {
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: space-around;
  @include breakpoint-sm {
    flex-direction: column;
    text-align: center;
  }
  @include breakpoint-from-lg {
    padding: 4rem;
  }
}

.image-container img {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.text-container {
  margin-left: 2rem;
}

.text-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.text-container p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.data-section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  height: 17rem;
  .current-heading {
    margin-top: 0;
  }
  .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    label {
      margin-right: 0.5rem;
    }

    input {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-right: 0.5rem;
    }

    button {
      background-color: #007bff;
      color: white;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  .data-table {
    margin-top: 1rem;

    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        border: 1px solid #ccc;
        padding: 0.5rem;
        text-align: left;
      }

      th {
        background-color: #f4f4f4;
      }
    }
  }

  .no-data {
    margin-top: 1rem;
    color: red;
  }
}

.services-section {
  text-align: center;
  padding: 1rem 0;
  background-color: #fafaf9;
}

.section-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.services {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  @include breakpoint-sm {
    flex-direction: column;
    align-items: center;
  }
}

.service {
  width: 30%;
  border: 2px solid #d4a017;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  @include breakpoint-sm {
    width: 50%;
  }
}
.service:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 15px rgba(231, 53, 53, 0.5); /* Added spread for even shadow */
}

.service img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}

.service h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.service p {
  font-size: 16px;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  @include breakpoint-sm {
    flex-direction: column;
    gap: 5px;
  }
  @include breakpoint-md {
    flex-direction: column;
    gap: 8px;
  }
}

.input-group label {
  font-size: 16px;
}

.input-group input {
  padding: 5px;
  font-size: 16px;
  width: 150px;
  @include breakpoint-sm {
    width: 100px;
  }
}

.input-group button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #d4a017;
  border: none;
  color: white;
  padding: 0.5rem 1rem;

  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.modal-open .cdk-overlay-container {
  backdrop-filter: blur(5px); /* Blur effect */
  background-color: rgba(255, 255, 255, 0.5);
}
.sub-heading {
  background-color: #44403c;
  color: #e7e5e4 !important;
}
.clean-container {
  background-color: #44403c;
  color: #e7e5e4 !important;
}
.inside-clean {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 64px 0;
  margin: 0 85px;
}
/* General footer styles */
.footer {
  background-color: #000;
  color: #fff;
  padding: 1rem 1rem;
  width: 100%;
  box-sizing: border-box;
}

/* Container to align content */
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Flexbox to arrange items */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Styles for the left side of the footer */
.footer-left {
  text-align: left;
}

.footer-left h3 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.footer-left p {
  margin: 5px 0 0;
  font-size: 14px;
}

/* Styles for the right side of the footer */
.footer-right {
  display: flex;
  align-items: center;
}

.footer-right p {
  margin: 0;
  font-size: 14px;
  margin-right: 8px;
}

.solo-logo {
  width: 50px;
  height: auto;
}

///animation
@keyframes slideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-entry {
  animation: slideIn 2s ease-out;
}
